.root {
  text-align: center;

}

.AboutUs { 
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, .2fr);
  column-gap: 2em;
}
div:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}