section.footer {
  background: var(--pink);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 4px solid var(--purple);
  position: relative;

  h3 {margin: 0;}
}
.wave-footer {
  position: absolute;
  bottom: 100%;
}
