.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.yellow {
  color: #F0DD34;
}
.blue {
  color: #00ADFF;
}
.green {
  color: #0BD6BE;
}
.pink {
  color: #F174E5;
}
.grey {
  color: #CCCCCC;
}