nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 128px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

nav a {
    position: absolute;
    left: 0;
}

nav svg {
    height: 40px;
    &:hover {
        opacity: 0.5;
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

nav ul li {
    cursor: pointer;
    padding: 5px 10px;
    &:hover {
        opacity: 0.5;
    }
}

@media only screen and (max-width:500px) {

    nav {
        height:64px;
    }
    nav ul {
        display: none;
    }
  }