nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #282c34;
}

nav a {
    position: absolute;
    left: 0;
}

nav svg {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-decoration: underline;
    cursor: pointer;
}