.statistics {
    display: grid;
    grid-template-areas: 
    " counter1 graph"
    " counter2 graph";
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 1.4em;

}

.counter.one {
    grid-area: counter1;
    padding: 20px;
}
.counter.two {
    grid-area: counter2;
    padding: 20px;
}
.graph {
    grid-area: graph;
    justify-content: center;
    align-items: center;
    position: relative;
    &:hover {
        .popup {
            animation: pop 0.35s ease-in-out forwards;
        }
    }
}

.counter h3 {
    margin: 0;
}

.counter p {
    color: var(--red);
}

img {
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 80%;
}

.popup {
    transform-origin: bottom;
}

@keyframes pop {
    0% {transform: scaleY(0);}
    90% {transform: scaleY(1.1);}
    100% {transform: scaleY(1);}
}
