.goals {
    text-align: center;
    background-color: #233B77;

    img {
        max-width: 400px;
        border-radius: 7px;
        position: unset;
    }

    .counter {
        border: 2px solid white;
        border-radius: 10px;
        width: fit-content;
        padding: 1em;
        font-weight: 700;
        p,h1 {
            margin: 0;
        
        }
      }
      .narrow-l {
          max-width:1200px;
          margin: 2em auto;
        }
        
        .narrow {
          max-width: 900px;
          margin: 2em auto;
      }

}

